<h2><%= @idea.title %></h2>
<p><%= @idea.description %></p>
<p>By <%= @idea.user&.full_name || "[Deleted]" %></p>
<div>
    <small>
        Posted <%= time_ago_in_words(@idea.created_at) %> ago
    </small>
    •
    <small>
        Last edited <%= time_ago_in_words(@idea.updated_at) %> ago
    </small>
</div>

<div>
    <div class="btn btn-outline-primary">
        <% if user_signed_in? && can?(:edit, @idea) %>
            <small>
                <%= link_to "Edit", edit_idea_path(@idea) %>
            </small>
        <% end %>
    </div>

    <div class="btn btn-outline-primary">
        <% if user_signed_in? && can?(:delete, @idea) %>
            <small>
                <%= link_to "Delete", idea_path(@idea), method: :delete, data: { confirm: "Are you sure?" } %>
            </small>
        <% end %>
        </div>
</div>

<h2>Reviews</h2>
<%= form_for [@idea, @review] do |f| %>

    <% if @review.errors.present? %>
        <p>
            <%= @review.errors.full_messages.join(', ') %>
        </p>
    <% end %>

    <%#= f.hidden_field :idea_id, value: @idea.id %>
 <div>
    <%= f.text_area(
      :body, cols: 60, rows: 6,
      placeholder: "What are your thoughts?"
    ) %>
  </div>

  <%= f.submit "Submit" %>
<% end %>

<div class="review-list">
  	<% @reviews.each do |review| %>
 		<div>
            <p>
                <strong>
                    <%= review.user&.full_name || "[EDITED]" %> reviewed:
                </strong> <br />
                <strong>
                    <%= review.user&.full_name || "[DELETED]" %> reviewed:
                </strong> <br />
                <%= review.body %> <br />
                
                <% if user_signed_in? && can?(:delete, review) %>
                    <div class="btn btn-outline-primary">
                        <small>
                            <%= link_to "Delete", idea_review_path(@idea, review), method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
                        </small>
                    </div>
                <% end %>
                <small>
                    Reviewed <%= time_ago_in_words(review.created_at) %> ago
                </small>
            </p>
    	</div>
  	<% end %>
</div>
